package com.comphenix.packetwrapper;

import com.comphenix.protocol.PacketType;
import com.comphenix.protocol.events.PacketContainer;
{% for item in IMPORTS %}
import {{ item }};
{% endfor %}
public class {{ CLASS_NAME }} extends AbstractPacket {

    public static final PacketType TYPE = PacketType.Login.Client.CUSTOM_PAYLOAD;

    public {{ CLASS_NAME }}() {
        super(new PacketContainer(TYPE), TYPE);
        handle.getModifier().writeDefaults();
    }

    public {{ CLASS_NAME }}(PacketContainer packet) {
        super(packet, TYPE);
    }

{{ BODY }}

}
