package com.comphenix.packetwrapper;

import com.comphenix.protocol.PacketType;
import com.comphenix.protocol.events.PacketContainer;
{% for item in IMPORTS %}
import {{ item }};
{% endfor %}
public class {{ CLASS_NAME }} extends AbstractPacket {

    public static final PacketType TYPE = PacketType.{{ PACKET_TYPE }};

    public {{ CLASS_NAME }}() {
        super(TYPE);
    }

    public {{ CLASS_NAME }}(PacketContainer packet) {
        super(packet, TYPE);
    }

{{ BODY }}

}
